<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Seleccione Jugador
    </ion-title>

    <ion-buttons end>

      <button ion-button
              *ngIf="!ordenando"
              (click)="ordenando = true">
      Registrar
      </button>

      <button ion-button
              *ngIf="ordenando"
              (click)="ordenando = false">
        Listo
      </button>

    </ion-buttons>


  </ion-navbar>
</ion-header>

<ion-content>

    <ion-refresher [enabled]="!ordenando" (ionRefresh)="recargar_animales($event)">
     <ion-refresher-content></ion-refresher-content>
    </ion-refresher>



  <ion-list [reorder]="ordenando" (ionItemReorder)="reordenar_animales( $event )">

    <ion-item-sliding *ngFor="let animal of animales; let i = index">

        <ion-item (click)="reproducir( animal )">

          <ion-avatar item-left>
            <img [src]="animal.imagen">
          </ion-avatar>


          <h2>{{ animal.nombre }}</h2>

          <ion-icon *ngIf="!animal.reproduciendo" name="play" item-right></ion-icon>
          <ion-icon *ngIf="animal.reproduciendo" name="pause" item-right></ion-icon>

        </ion-item>

          <ion-item-options side="right">
            <button ion-button color="primary"
                    (click)="borrar_animal( i )">
              <ion-icon name="text"></ion-icon>
              T. Amarilla
            </button>
            <button ion-button color="danger"
                    (click)="borrar_animal( i )">
              <ion-icon name="trash"></ion-icon>
              T. Roja
            </button>
            <button ion-button color="secondary"
                    (click)="borrar_animal( i )">
              <ion-icon name="call"></ion-icon>
              Gol
            </button>

          </ion-item-options>


      </ion-item-sliding>


  </ion-list>





</ion-content>
